.profile-container {
  flex-grow: 1;
  margin-top: 8px;
  border: 1px solid lightblue;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 5px 15px 3px #919191;
  & .tags-container {
    ul {
      margin-left: -35px;
      li {
        margin-right: 4px;
        span {
          border: 1px solid white;
          background-color: lightblue;
          padding: 5px;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}

.booking-container {
  margin-top: 8px;
  border: 1px solid lightblue;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 5px 15px 3px #919191;
  margin-left: 8px;
}

.review-container {
  margin-top: 8px;
  border: 1px solid lightblue;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 5px 15px 3px #919191;
}

.availabilities-container {
  margin-top: 8px;
  border: 1px solid lightblue;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 5px 15px 3px #919191;
  margin-bottom: 8px;
}
