.profile-container {
  flex-grow: 1;
  margin-top: 8px;
  border: 1px solid lightblue;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 5px 15px 3px #919191;
}

.booking-container {
  margin-top: 8px;
  border: 1px solid lightblue;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 5px 15px 3px #919191;
  margin-left: 8px;
}

.review-container {
  margin-top: 8px;
  border: 1px solid lightblue;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 5px 15px 3px #919191;
}
