<div class="home-banner">
  <div id='job-booking'>
    <form action="" class = "search-form">
      <input type="text" name = "address" placeholder = 'Address'>
      <select name="job_type" id="job-date-search" placeholder = "Job Type">
        <% @tags.each do |tag| %>
          <option value=<%=tag.name%>><%= tag.name.capitalize %></option>
        <%end%>
      </select>
      <input type="text" name = "date" id = "datepicker" placeholder = "Select Date">
      <input type="submit" value = "Search for Work">
    </form>
   </div>
  <h1>AssistMe</h1>
</div>


<div class="container job-types">
  <h2>Job Categories</h2>
  <div class="row">
    <% @tags.each do |tag| %>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(https://media.gettyimages.com/photos/circa-1925-mugshot-of-american-gangster-al-capone-smiling-in-a-jacket-picture-id3224921)">
        <div class ="card-title"><%= tag.name %></div>
        <div class ="card-subtitle"> Clean your house in a few hours, with guaranteed quality.</div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- <form action="/flats" class = "form-inline search-form">
  <input type="text" name="query" class = "form-control">
  <input type="submit" value="Search" class = "btn btn-success">
</form>


<%= link_to worker_profiles_path(tag: "dssd") do %>
  <div></div>
<% end %>
 -->
