.home-banner {
  background-size: cover;
  height: 90vh;
  color: #eee;
  text-align: center;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;

  h1 {
    padding-top: 30vh;
    font-weight: bold;
    font-size: 48px;
  }

  .form{
    color: blue;
  }
}


.container-banner {
    width: 65%;
    margin: 0 auto;
}

.container-banner-text {
  text-align: initial;
  width: 80%;
  h1 {
    color: beige;
    font-size: 40px;
    text-align: initial;
  }
  span {
    color: beige;
    font-size: 24px;
    text-align: initial;
  }
}

#job-booking{
  text-align: initial;
}
