.navbar-lewagon {
  justify-content: space-between;
  background: #6eb9e7;
  width: 100vw;
  background-color: transparent;
  transition: 0.3s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-assistme {
  background-image: url('https://res.cloudinary.com/djevcywps/image/upload/v1606864546/driver_cdgjui.jpg');
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item.become-worker{
  background-color: blue;
  border-radius: 20px;
  font-weight: bold;
}


.welcome-text {
  color: beige !important;
  font-weight: 900;
}

.logo-container {
  display: flex;
  color: beige;
  align-items: flex-end;
}

.welcome-text-container {
  margin-left: -153px;
}
