<div class="container">
  <div class="row d-flex justify-content-center py-4">
    <div class="col-md-6">
      <h1>Become a worker:</h1>
      <%= render "form", worker_profile: @worker_profile %>
    </div>
  </div>
</div>
