// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import 'flatpickr/dist/flatpickr';
@import 'select2/dist/css/select2';
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";


.job-types{
  padding-top: 25px;
  margin-bottom: 56px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;    /* Footer height */
}

#booking-wrapper{
  display:flex;
}

#map {
  height: 300px;
  position: sticky;
  top: 150px;
  border-radius: 5px;
  align-items: center;
}

.algolia-places {
  width: 30%;
}

.ap-name {
  color: blue;
}

#booking-address-home{
  height: 27px;
}
#worker_profile_address {
  width: 100%;
}

.row {
  justify-content: center;
}

.centered {
  text-align: center;
}


.main-container{
  display: flex;
}

.cards{
  padding-right: 15px;
  padding-left: 15px;
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

.btn-success {
  background-color: #ffd369;
  padding: 7px;
}

.btn-success:hover {
  background-color:#e9ce8d;
}

#btn-black {
  background-color: black;
  padding: 7px;
  color: white;
}

#btn-black:hover {
  text-decoration: none;  
}

#address-input {
  .algolia-places {
    width: 100%;
  }
}
