<div class="card-service">
  <img src="https://static.wikia.nocookie.net/metalgear/images/f/f1/TPPVenomSnakeMB.png" />
  <div class="card-service-infos">
    <h2>
      Yanto |
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </h2>
    <br>
    <p>Specialized in <strong>plumbing</strong> and <strong>gardening</strong>.</p>
    <br>
    <h4 class = "card-service-area">Serving Canggu area</h4>
  </div>
  <div class ="card-service-reviews">
    <div class ="card-service-review review-one">
      <h2>Aleksa</h2>
      <p class = "review-content">Monumental service, smooth communications</p>
    </div>
    <div class ="card-service-review review-two">
      <h2>Soerjadi</h2>
      <p class = "review-content">Now my pool is beyond repair. Thanks for nothing, bro</p>
    </div>
    <div class ="card-service-review review-three">
      <h2>Kuze</h2>
      <p class = "review-content">Hard working guy, my garden is now Zen-certified</p>
    </div>
  </div>
</div>